.main-nav-item :hover ~ .line{
    bottom: 0;
    transition: .20s ease;
    height: 10%;
}

.nav-link{
    text-transform: capitalize !important;
}

.line{
    bottom: 100%;
    left: 0;
    right: 0;
    width: inherit;
    height: 0;
    background-color: black;
    transition: .10s ease;
}

.dropdown-menu{
    margin-top: 9%;
}