.main-nav-item :hover ~ .line{
    bottom: 0;
    transition: .20s ease;
    height: 10%;
}

.nav-link{
    text-transform: capitalize !important;
    color: whitesmoke;
    transition: .10s ease;
}

.nav-link:hover{
    color: bisque;
    transition: .10s ease;
}

.line{
    bottom: 100%;
    left: 0;
    right: 0;
    width: inherit;
    height: 0;
    /* background-color:green; */
    background-color: rgba(255, 228, 196, 0.7);
    transition: .10s ease;
}

.dropdown-item:hover{
    background-color: rgba(200, 200, 200, 0.7);
    /* background-color: rgba(0, 137, 24, 0.7); */
}

.dropdown-menu{
    margin-top: 12%;
}

.bg-trans{
    background-color: rgba(0, 0, 0, 0.7);
}